# print

In [6]:
print "hellow world" 
print 'hellow world'

# print a variable
name = 'jirlong'
print "my name is " + name 

# print with formatting
print "my name is ", name 
print "my name is %s"%(name)

hellow world
hellow world
my name is jirlong
my name is  jirlong
my name is jirlong

# +, -, *, **, /, %
* ** - "power of."
* *%* - "mod" e.g., 5%3==2, 4%2==0.
* */* - "divide" varied by data type of numberator and denominator

In [12]:
a, b = 5, 3
print a+1+2+3+4+5+6+7+8+9 
print a**4
print name*4

50
625
jirlongjirlongjirlongjirlong

In [19]:
print "a/b=", a/b, "a/b=", a%b
print "a/b=%d, a%%b=%f"%(a/b, a%b)
print a/float(b)
print float(a)/b
print ((a+b)**2+(a-b)**2)/float(a**2+b**2) 
print str(a)/b

a/b= 1 a/b= 2
a/b=1, a%b=2.000000
1.66666666667
1.66666666667
2.0

TypeError: unsupported operand type(s) for /: 'str' and 'int'

# Variable

In [1]:
a, b, c = '2', 2, 2.0
print type(a), type(b), type(c)

<type 'str'> <type 'int'> <type 'float'>

# Converting Temperature format

In [4]:
tf = 32
tc = 5.0/9.0*(tf-32)
print tc

0.0

In [6]:
tc = 0
tf = 9.0/5.0*tc + 32
print tf

32.0